/* formatações gerais */

body{
	font-family: arial, sans-serif, monospace;
	margin: 0;
	font-size: 1.2em;
}

header, footer {
	background-color: #4B7990;
}

nav {
	background-color: #1A7299;
}

main {
	background-color: #EEEEEE;
}

header, footer, nav, main {
	padding: 10px;
}

h1, footer {
	color: #D7C16F;
}

header p, h2{
	color: black;
}

/* links */

a {
	text-decoration: none;
}
a:link {
	color: #574400;
}
a:visited {
	color: #572000;
}
a:active {
	color: lightblue;
}
a:hover {
	color: #143055;
	text-shadow: 3px 3px 5px white;
}

nav ul li {
	display: inline;
	padding: 10px;
	text-transform: uppercase;
}

/* tabelas */

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

th{
	background-color: #AC653B;
	color: white;
}

tr:nth-child(even){
	background-color: #FFEEAF
}
tr:nth-child(odd){
	background-color: #DDD;
}

/* formulários */

input[type="text"], input[type="email"], input[type="tel"], select, textarea {
	border: 2px solid #826B16;
	margin: 10px 0px;
	border-radius: 10px;
	padding: 5px 20px;
	background-color: #EEE;
	color: #AC653B;
	font-family: monospace;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {
	border: 2px solid #572000;
	margin: 10px 0px;
	background-color: #CCC;
	font-weight: bold;
}

input[type="submit"], input[type="reset"]{
	background-color: darkblue
	color: #CCC;
}

